@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
  background-color:#e3e1e1;
  
}

header{
    display:flex;
    justify-content: space-between;
    
}
.display img
{
    
    /* display:flex;
    align-items: center;
    color: grey; */
    margin-left:30px;

}
a{

  display:flex;
  justify-content: space-between;
}
button
{
  font-size: 15px;
  color:#0E738A;
}
button{
  border: 0;
    border-radius: 50px;
    width: 500px;
    height: 50px;
}
ul {
  background-color: #BDE7F4;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgb(230, 226, 226);
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: white;
}
li {
  float: right;
  margin: 20px;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #BDE7F4;
}
li a {
  display: block;
  color:rgb(14, 115, 138);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.request{
  font-family: 'Ubuntu', sans-serif;
  position: absolute; 
  width: 400px;
  height: 600px;
  left:70%;
  top: 110px;
  background: #0E738A;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

/* .post
{
 margin-top:110px;
 margin-left:160px;
  width:800px;
  height:200px;
  background-color: #f6f9fa;
}
.post button
{
  
    border-radius: 50px;
    width: 500px;
    height: 50px;
    margin-top:20px;
    margin-left:230px;
} */
.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
  font-size: 12px;
  color: gray;
}

.post__info > h2 {
  font-size: 15px;
}